html{
   scroll-behavior: smooth;
}
.navbar li{
   margin-left: 1em;
   margin-right: 1em;

}

.Portfoliocontainer{
 background-color:#E6E6FA;
 border-radius: 10px;
 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 97%;
  margin: auto;
  padding-top:20px;
  margin-left: 8px;
  margin-right: 10px;
}
.Portfoliocontainer:hover{
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
i{
   font-size: 25px;
}
.contact{
   margin: auto;
}
.contact ul li{
   list-style: none;
   display:inline-block;
   margin-left: 20px;
}
.contact ul li a{
   list-style: none;
   display:inline-block;
   text-decoration: none;
}
.cover{
   background:no-repeat, linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("https://images.unsplash.com/photo-1506784693919-ef06d93c28d2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80") no-repeat;
   background-size: cover;
   min-height: 100vh;
}
.cover-content{
   min-height: 100vh;
}
.cover-content img{

   max-width: 200px;
   border:2px solid white;
}


.about{
   background-color: #ececec;
}
.col1{
   color: white;
   flex-basis: 40%;
   position: relative;
   margin-top:10%;
   margin-left:60px;
}
.col1 h1{
   font-weight: 100;
   overflow: hidden; /* Ensures the content is not revealed until the animation */
 border-right: .15em solid orange; /* The typwriter cursor */
 white-space: nowrap; /* Keeps the content on a single line */
 margin: 10 auto; /* Gives that scrolling effect as the typing happens */
 letter-spacing: 10; /* Adjust as needed */
 animation: typing 4.5s steps(100, end),
   blink-caret .50s step-end infinite;


}

/* The typing effect */
@keyframes typing {
   from { width: 0 }
   to { width: 100% }
 }
 
 /* The typewriter cursor effect */
 @keyframes blink-caret {
   from, to { border-color: transparent }
   50% { border-color: orange; }
 }
 a{
   text-decoration: none;
 }
.btn{
   width: 140px;
   border: 0;
   padding: 12px 10px;
   outline: none;
   color: #fff;
   background:linear-gradient(315deg, #36096d 0%, #37d5d6 74%);
   border-radius: 6px;
   cursor: pointer;
   transition: width 0.6s;

}
.btn i{
   width: 30px;
   display:none;

}
.btn:hover i{
   display: block;

}
.btn:hover{
   width: 160px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

@media screen and (max-width: 760px) {
   .navbar li{
      margin-left: 0em;
      margin-right: 1em;
      margin-top: 1em;

   }
   .navbar li a i{
      margin-right: 10px;

   }
   .cover-content h1{
       font-size: 36px;
       font-weight: bold;
       padding-top: 30px;
   }

   .cover-content h6{
       font-size: 15px;
   }
}
